[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.1"
pymysql = "*"
flask-mysql = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.11"
